{{ $item := .item }}

{{/* Dynamic view adjusts to content type. */}}
{{ $icon_pack := "far" }}
{{ $icon := "fa-file-alt" }}
{{ $show_authors := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "post" }}
  {{ $icon = "fa-newspaper" }}
{{ else if eq $item.Type "event" }}
  {{ $icon = "fa-calendar-alt" }}
{{ else if eq $item.Type "publication" }}
  {{ $show_authors = true }}
{{ else if eq $item.Type "project" }}
  {{ $icon_pack = "fas" }}
  {{ $icon = "fa-project-diagram" }}
  {{ $show_authors = true }}
{{ end }}

{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="view-list view-list-item{{ if eq $item.Type "publication" }} publication-list-item{{ end }}">
  <i class="{{$icon_pack}} {{$icon}} pub-icon" aria-hidden="true"></i>
  {{ if eq $item.Type "publication" }}
  <span class="publication-title-link">{{ $item.Title }}</span>
  {{ else }}
  <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
  {{ end }}

  {{ if eq $item.Type "event" }}
  <div class="article-metadata">
    <span>
      {{ partial "functions/get_event_dates" $item }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span>{{ . }}</span>
    {{ end }}
  </div>
  {{ end }}

  {{ if and $show_authors $item.Params.authors }}
  <div class="article-metadata{{ if eq $item.Type "publication" }} publication-authors{{ end }}">
    {{ partial "page_metadata_authors" $item }}
  </div>
  {{ end }}

  {{ if eq $item.Type "publication" }}
    {{ $publication := $item.Params.publication | default $item.Params.publication_short }}
    {{ $publication = cond (eq $publication "elife") "eLife" $publication }}
    {{ $year := "" }}
    {{ with $item.Params.publishDate }}
      {{ $year = (time .).Format "2006" }}
    {{ else }}
      {{ with $item.Date }}
        {{ $year = .Format "2006" }}
      {{ end }}
    {{ end }}
    {{ if or $publication $year }}
  <div class="publication-meta">
      {{- with $publication -}}<span class="journal-title">{{ . | markdownify }}</span>{{- end -}}
      {{- if and $publication $year }} <span class="middot-divider"></span> {{ end -}}
      {{- with $year -}}<span>{{ . }}</span>{{- end -}}
  </div>
    {{ end }}

    {{ $publication_type := 0 }}
    {{ with $item.Params.publication_types }}
      {{ $publication_type = int (index . 0) }}
    {{ end }}
    {{ $output_path := "Uncategorized" }}
    {{ if eq $publication_type 2 }}
      {{ $output_path = "Contribution to journal › Article › peer-review" }}
    {{ else if eq $publication_type 3 }}
      {{ $output_path = "Preprint" }}
    {{ else if eq $publication_type 6 }}
      {{ $output_path = "Chapter" }}
    {{ end }}
  <div class="publication-output"><strong>Research output:</strong> {{ $output_path }}</div>
  {{ end }}

  {{ if $has_attachments }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
