<footer class="site-footer">
  <hr>

    <div class="footer-main-content" style="display: flex; justify-content: space-between; padding: 20px;">
          <!-- container1 -->
 <div class="footer-support-column" style="flex: 2;">
   
   <p style="text-align:left; font-weight: bold">
   Honored supported by:
    </p>
    
    <!-- Add lab logo below the text -->
    <a href="https://www.ntu.edu.sg/medicine" target="_blank" rel="noopener">
      <img src="/image/NTU-LKCMedicine.png" alt="NTU LKCMedicine logo" class="center" style="width: 70%; height: auto;">
    </a>
    
            </div>
            
    <!-- container2 -->
            <div class="footer-find-column" style="flex: 2;">
  <p style="text-align:left; font-weight: bold">
    Find us at
    <br>
    <i class="fa-brands fa-github"></i> <a href="https://github.com/CleoShen" target="_blank" rel="noopener">GitHub</a>
<br>
        <!-- <i class="fa-brands fa-weixin"></i> <a href="https://jaspershen.github.io/image/wechat_QR.jpg" target="_blank" rel="noopener">WeChat</a> -->

    <!--<br>-->
        <img src="/image/x-twitter.svg" alt="" class="footer-x-icon"> <a href="https://x.com/ChuchuWang0820" target="_blank" rel="noopener">X</a>
        
   <br>
        <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/chuchu-wang-71331190/" target="_blank" rel="noopener">LinkedIn</a>  
        
        <br>
<i class="fa-solid fa-location-dot"></i> Address: <a href="https://maps.app.goo.gl/DnvEiTfrqTusibmw9" target="_blank" rel="noopener">59 Nanyang Dr, Level 4, Singapore 636921</a>
   
    </p>
            </div>
            
    <!-- container3 -->
            <div class="footer-spacer" style="flex: 1;">
            </div>
            
    <!-- container4 -->
    
            <div class="footer-visitor-column" style="flex: 1;">
                     <p style="text-align:left; font-weight: bold">
   Visitor Map
    </p>
<div class="footer-visitor-map">
<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=nkRY3tswmkdCt3W_9hGGA-WlG8hzyV5dyb6OfIyvZj0&cl=ffffff&w=a"></script>
</div>
            </div>
            
    <!-- container5 -->
            <div class="footer-spacer" style="flex: 1;">
            </div>
    
        </div>
        
      <hr>

      {{ partial "functions/get_hook" (dict "hook" "footer-start" "context" .) }}
  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.block | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}
  
  
</footer>
